/* Only for debugging purpose*/
/* div {
    border: 3px solid red;
} */

body {
    height: 100vh;
}

ul {
    list-style: none;
}

.dashboard_img {
    height: 50px;
    width: auto;
}

.icon_img {
    height: 30px;
    width: auto;
}

.search_img,
.user_img,
.notification_img {
    height: 40px;
    width: auto;
    padding: 5px;
}

ul {
    display: grid;
    gap: 15px;
}

li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 10px;
}

.logo {
    font-family: "Georgia";
    font-size: xx-large;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.header,
.main {
    grid-column: 2/3;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: rgb(65, 145, 206);
    color: white;
    padding-right: 10px;
    padding: 10px;
}

.header_top {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: grid;
    grid-template-columns: 1fr 20fr;
}

input {
    margin: 3px;
    border-radius: 5px;
    border-width: 2px;
    border-color: lightgray;
    background-color: lightgray;
}

.user_info_top {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
}

.user_name {
    align-items: center;
}

.header_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.header_bottom_left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.header_bottom_left p {
    margin: 0px;
}

.header_bottom_left img {
    grid-row: 1/3;
    height: 100px;
}

.name {
    grid-column: 2 / 3;
    font-size: x-large;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
}

button {
    height: 35px;
    width: 100px;
    color: white;
    background-color: rgb(65, 145, 206);
    border-width: 0px;
    border-radius: 15px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: lightgray;
}

.trendings {
    grid-column: 2 / 3;
}

.projects {
    grid-row: 1/3;
    margin-left: 20px;
}
.projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px;
    padding-left: 0px;;
}

.project {
    height: 200px;
    background-color: white;
    border-radius: 15px;
    border-left: 5px solid orange;
}

.project p {
    font-size: smaller;
    padding-left: 10px;
}

.project h2 {
    padding-left: 10px;
}